<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Instagram Media Downloader - Download photos and videos from Instagram">
    <meta name="keywords" content="instagram, download, media, photos, videos">
    
    <title>{% block title %}Instagram Downloader{% endblock %}</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'includes/header.html' %}
    
    <main class="container">
        {% include 'includes/messages.html' %}
        {% block content %}{% endblock %}
    </main>
    
    {% include 'includes/footer.html' %}
    
    <!-- Base JavaScript -->
    <script src="{% static 'js/utils.js' %}" defer></script>
    {% block extra_js %}{% endblock %}
    
    <!-- Error tracking -->
    <script>
        window.onerror = function(msg, url, lineNo, columnNo, error) {
            console.error('Error: ' + msg + '\nURL: ' + url + '\nLine: ' + lineNo);
            return false;
        };
    </script>
</body>
</html>